.pie-pagina {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    margin-top: 4px;
}
p{
    padding: auto;
}
a {
    text-decoration: none;
    color: var(--color-nav);
    text-decoration: none;
    transition: all .4s ease-in-out;
}
button:hover {
    transform: scale(1);
    background-color: var(--color-nav);
}

#footer {
    border-top: solid 1px;
}
button {
    background-color: rgb(114, 114, 112);
}