<div class="habilidades" id="habilidades">

    <div class="p-5">
        <h2 class="titulo-skills text-muted" id="titulo"> Habilidades </h2>
        <hr class="decorador" />
        <div class="skills">
            <ul class="skills-list">
                <li class="skills-item"> HTML </li>
                <li class="skills-item"> CSS </li>
                <li class="skills-item"> Java Script </li>
                <li class="skills-item"> Bootstrap </li>
                <li class="skills-item"> Angular </li>
                <li class="skills-item"> Typescript </li>
                <li class="skills-item"> NodeJS </li>
                <li class="skills-item"> JAVA </li>
                <li class="skills-item"> Spring Boot </li>
            </ul>
        </div>
    </div>
</div>