<div class="educacion p-5 text-dark" >
    <h2 class="text-muted mb-0" id="titulo">Educación</h2>
    <div>
        <hr class="decorador" />
    </div>

    <ul>
        <li *ngFor="let educacion of datosEducacion">
            <div class="educacion">
                <h3><i class="fa-solid fa-graduation-cap"></i>
                    <strong class="text-muted"> {{educacion.establecimiento}}</strong>
                </h3>
                <h4 class="text-secondary mt-3 mb-4">
                    {{educacion.curso}} <br />
                </h4>
                <p class="text-muted">{{educacion.descripcion}}
                </p>
                <h5 class="text-secondary mb-3" id="inicio-fin">
                    <small>Inicio: {{educacion.fecha_inicio}} <br><br>
                        Fin: {{educacion.fecha_fin}}</small>
                </h5>
                <br>
            </div>
        </li>
    </ul>
</div>