<div class="educacion p-5 text-dark">
    <h2 class="text-muted mb-0" id="titulo">Educación <button type="button" class="btn btn-primary" *ngIf="isLogged"
            routerLink="/new-educacion"><i class="bi bi-plus-lg"></i></button></h2>
    <div>
        <hr class="decorador" />
    </div>

    <ul>
        <li *ngFor="let educacion of datosEducacion">
            <div class="educacion">
                <div>
                    <h3><i class="fa-solid fa-graduation-cap"></i>
                        <strong class="text-muted"> {{educacion.establecimiento}}</strong>
                    </h3>
                    <div class="botones" *ngIf="isLogged"><button type="button" class="btn btn-success"
                            routerLink="/editaredu/{{educacion.id}}"><i class="bi bi-pencil"></i></button>
                        <button type="button" class="btn btn-danger" (click)="borrar(educacion.id)"><i class="bi bi-trash3"></i></button>
                    </div>
                </div>
                <h4 class="text-secondary mt-3 mb-4">
                    {{educacion.curso}} <br />
                </h4>
                <p class="text-muted">{{educacion.descripcion}}
                </p>
                <h5 class="text-secondary mb-3" id="inicio-fin">
                    <small>Inicio: {{educacion.fecha_inicio}} <br><br>
                        Fin: {{educacion.fecha_fin}}</small>
                </h5>
                <br>
            </div>
        </li>
    </ul>
</div>