<div class="educacion p-5 text-dark" id="educacion">
    <h2 class="text-muted mb-0" id="titulo">Educación</h2>
    <div>
        <hr class="decorador" />
    </div>
    <!-- PROGRAMACION -->

    <div class="educacion">
        <h3><i class="fa-solid fa-graduation-cap"></i>
            <strong class="text-muted">Argentina Programa</strong>
        </h3>
        <h4 class="text-secondary mt-3 mb-4">
            Full Stack Developer <br />
        </h4>
        <p class="text-muted">
            Perfil de desarrollador web con conocimientos front end y back
            end, como tambien de base de datos, generando la capacidad de
            obtener grandes resultados en diferentes entornos.
        </p>
        <h5 class="text-secondary mb-3" id="inicio-fin">
            <small>Inicio: Febrero 2022 <br />
                (CURSANDO ACTUALMENTE)</small>
        </h5>
    </div>

    <!--CURSO TANGO GESTION -->

    <div class="educacion">
        <h3><i class="fa-solid fa-graduation-cap"></i>
            <strong class="text-muted">IDES Centro de estudios </strong>
        </h3>
        <h4 class="text-secondary mt-3 mb-4">Tango Gestión <br /></h4>
        <p class="text-muted">
            El sistema de Tango gestión es un software, utilizado
            principalmente para administrar compas, llevar el control de una
            cuenta corriente y emitir informes de gestion de una empresa u
            organización.
            Desarrollé este curso en la ciudad de Trelew-Chubut.-
        </p>
        <h5 class="text-secondary mb-3" id="inicio-fin">
            <small>Inicio: Marzo 2009 <br />
                Fin: Agosto 2009
            </small>
        </h5>

    </div>
    <!-- SECUNDARIA-->

    <div class="educacion">
        <h3><i class="fa-solid fa-graduation-cap"></i>
            <strong class="text-muted">Escuela N° 751 "Dr.Luis F. Leloir" </strong>
        </h3>
        <h4 class="text-muted mt-3 mb-4">
            Secundario completo <br />
        </h4>

        <p class="text-muted">
            Obtuve mi diploma de Bachillerato con orientacion en Ciencias Economicas,
            en la ciudad de Trelew-Chubut.-
        </p>
        <h5 class="text-secondary mb-3" id="inicio-fin">
            <small>Inicio: Año 2002 <br />
                Fin: Año 2009</small>
        </h5>

    </div>
</div>
