<div class="container mt-5 mx-auto">
    <div class="row">
        <div class="col-md-6 mx-auto-4">
            <form (ngSubmit)="editExp()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="categoria"> Categoria a la que petenece el empleo: </label>
                    <input type="text" class="form-control" id="categoria" name="categoria" [(ngModel)]="exp.categoria" required>
                </div>
                <div class="form-group">
                    <label for="puesto"> Puesto que ocupaba: </label>
                    <input type="text" class="form-control" id="puesto" name="puesto" [(ngModel)]="exp.puesto" required>
                </div>
                <div class="form-group">
                    <label for="descripcion"> Descripcion breve del trabajo que realizaba: </label>
                    <textarea type="text" class="form-control" id="descripcion" name="descripcion" [(ngModel)]="exp.descripcion" required></textarea>
                </div>
                <div class="form-group">
                    <label for="referencia"> Nombre y apellido u empresa empleadora: </label>
                    <input type="text" class="form-control" id="referencia" name="referencia" [(ngModel)]="exp.referencia" required>
                </div>
                <div class="form-group">
                    <label for="tel_refe"> Telefono de referencia: </label>
                    <input type="number" class="form-control" id="tel_refe" name="tel_refe" [(ngModel)]="exp.tel_refe" required>
                </div>
                <div class="form-group">
                    <label for="fecha_inicio"> Fecha de inicio: </label>
                    <input type="Date" class="form-control" id="fecha_inicio" name="fecha_inicio" [(ngModel)]="exp.fecha_inicio" required>
                </div>
                <div class="form-group">
                    <label for="fecha_fin"> Fecha de finalización: </label>
                    <input type="Date" class="form-control" id="fecha_fin" name="fecha_fin" [(ngModel)]="exp.fecha_fin" required>
                </div>
                <button type="submit" class="btn btn-primary mt-5" [disabled]="!f.valid">Actualizar Experiencia</button>
            </form>
        </div>
    </div>
</div>
