<div class="experiencia p-5 text-muted" id="experiencia">
    <h2 class="text-muted mb-0 ml-3" id="titulo">Experiencia <button type="button" class="btn btn-primary" *ngIf="isLogged" routerLink="/new-experiencia">Agregar</button></h2>
    <div>
        <hr class="decorador" />
    </div>
    <ul>
        <li *ngFor="let experiencia of datosExperiencia">
            <div class="botones" *ngIf="isLogged"><button type="button" class="btn btn-success" routerLink="/editarexp/{{experiencia.id}}">Editar</button>
                <button type="button" class="btn btn-danger" (click)="borrar(experiencia.id)">Borrar</button></div>
            <div class="experiencia">
                <h3 class="mt-5 mb-0 text-muted">
                    <i class="fa-solid fa-briefcase"></i>
                    <strong> {{experiencia.categoria}}</strong>                    
                </h3>
                <h4 class="text-muted">{{experiencia.puesto}}</h4>
                <p class="text-muted"> {{experiencia.descripcion}} </p>
                <div id="inicio-fin">
                    <div class="p-2">
                        <strong>Referencias: </strong>
                        <p class="text-muted">
                            {{experiencia.referencia}} </p>
                    </div>
                    <div class="p-2">
                        <strong class="color-one">Telefono:</strong>
                        <p class="text-muted">{{experiencia.tel_refe}}</p>
                    </div>
                    <div class="p-2">
                        <strong class="color-one">Inicio:</strong>
                        <p class="text-muted"> {{experiencia.fecha_inicio}}</p>
                    </div>
                    <div class="p-2">
                        <strong class="color-one">Fin: </strong>
                        <p class="text-muted">
                            {{experiencia.fecha_fin}}</p>
                    </div>
                </div>
            </div>
        </li>
    </ul>
