#experiencia {
    scroll-margin-top: 70px;
}
li {
    list-style: none;
}

ul {
    padding: 5px;
}


button{
    align-items: flex-end;
    margin: 0px 10px;
}

.botones {
    display: flex;
    justify-content: end;
}