<div class="experiencia p-5 text-muted" id="experiencia">
    <h2 class="text-muted mb-0 ml-3" id="titulo">Experiencia:</h2>
    <div>
        <hr class="decorador" />
    </div>
    <div class="experiencia">
        <h3 class="mt-5 mb-0 text-muted">
            <i class="fa-solid fa-briefcase"></i>
            Asistente de personas no terapeutico
        </h3>
        <h4 class="text-muted">Infantes a partir de los 4 años</h4>
        <p class="text-muted">
            Actualmente me desempeño como asistente de infantes no terapeutico , contribuyendo con los
            padres
            para satisfacer las necesidades fisicas, emocionales, intelectuales y sociales, brindandoles las
            herramientas necesarias para su desarrollo.
            Mis principales tareas son recogerlos del colegio, acompañarlos en la resolucion de sus deberes
            y
            llevarlos a sus actividades extracurriculares.
        </p>
        <div id="inicio-fin">
            <div class="p-2">
                <strong>Referencias: </strong>
                <p class="text-muted">
                    Karina Sandoval Barreto </p><br>
            </div>
            <div class="p-2">
                <strong class="color-one">Telefono:</strong>
                <p class="text-muted">12246463872</p>
            </div>
            <div class="p-2">
                <strong class="color-one">Inicio:</strong>
                <p class="text-muted"> Marzo 2017</p>
            </div>
            <div class="p-2">
                <strong class="color-one">Fin: </strong>
                <p class="text-muted">
                    Actualidad</p>
            </div>

        </div>
    </div>
    <div class="experiencia">
        <h3 class="text-secondary mt-5 mb-0"><i class="fa-solid fa-briefcase"></i>
            Asistente de personas no terapeutico
        </h3>
        <h4 class="text-muted">Infante a partir de los 3 años</h4>
        <p class="text-muted">
            Desempeñaba tareas generales referidas al infante. Me encargaba de su cuidado por las mañanas,
            sirviendole el desayuno, como tambien el almuerzo y manteniendolo ocupado, ya sea con
            manualidades
            como tambien con actividades al aire libre. Luego lo llevaba hasta su jardin.
        </p>
        <div id="inicio-fin">
            <div class="p-2">
                <strong>Referencias: </strong>
                <p class="text-muted">
                    Mayra Martinez</p>
            </div>
            <div class="p-2">
                <strong>Telefono: </strong>
                <p class="text-muted">
                    1278467828732498</p>
            </div>
            <div class="p-2">
                <strong class="color-one">inicio: </strong>
                <p class="text-muted">
                    Enero 2013</p>
            </div>
            <div class="p-2">
                <strong>Fin:
                </strong>
                <p class="text-muted">Diciembre: 2016</p>
            </div>
        </div>
    </div>
    <div class="experiencia">
        <h3 class="text-secondary mt-5 mb-0"><i class="fa-solid fa-briefcase"></i>
            Asistente de personas no terapeutico
        </h3>
        <h4 class="text-muted">Infante a partir de los 3 años</h4>
        <p class="text-muted">
            Desempeñe tareas generales, tanto el ciudado del infante como tambien su alimentación, las
            mismas desarrolladas en el hogar del mmismo.
        </p>
        <div id="inicio-fin">
            <div class="p-2">
                <strong class="color-one">Referencias: </strong>
                <p class="text-muted">Mayra Ferreyra <br></p>

            </div>
            <div class="p-2">
                <strong class="color-one">Telefono:</strong>
                <p class="text-muted">
                    563456325637631</p>
            </div>
            <div class="p-2">
                <strong class="color-one">inicio:
                </strong>
                <p class="text-muted">Abril 2010</p>
            </div>
            <div class="p-2">
                <strong class="color-one">Fin:</strong>
                <p class="text-muted">
                    Diciembre 2012</p>
            </div>
        </div>
    </div>
</div>
