<div class="descripcion" id="acerca-de-mi">
    <div class="acerca-de-mi p-5">
        <h2 class="text-muted mb-0" id="titulo">Acerca de mi</h2>
        <div>
            <hr class="decorador"/>
            <p class="text-muted"> {{datosPersonas[0].acerca_de}}
            </p>
        </div>
        <div class="contacto text-muted">
            <p>Puedes <strong>contactarme</strong> a traves de mi correo electronico<br />
                o por cualquiera de mis <strong> redes sociales</strong></p>
            <div class="redes">
                <a href="http://t.me/Daiana_Aixa" class="fa-brands fa-telegram"></a>
                <a href="mailto:daiana.aixa@hotmail.com" class="fa-solid fa-envelope"></a>
                <a href="http://www.linkedin.com/in/daianaaixa" class="fa-brands fa-linkedin"></a>
                <a href="https://github.com/daiaixa" class="fa-brands fa-github"></a>
            </div>
        </div>
    </div>
</div>